.du-select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: var(--field-width);
  text-align: left;
}
.du-select_box {
  position: relative;
  display: block;
  width: 100%;
  line-height: var(--field-line-height);
  box-sizing: border-box;
  border: 1px solid var(--field-border-color);
  border-radius: 3px;
  padding: var(--field-padding) 30px var(--field-padding) 10px;
  background-color: white;
  user-select: none;
  cursor: default;
  transition: border-color 0.15s ease;
}
.du-select_box:hover {
  border-color: var(--field-hover-border-color);
}
.du-select_box.Single .du-select_value {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.du-select_placeholder {
  opacity: 0.65;
}
.du-select_value, .du-select_placeholder {
  display: inline-block;
  line-height: inherit;
}
.du-select.Active.Input .du-select_value {
  opacity: 0.65;
}
.du-select.Active.Inputing .du-select_value,
.du-select.Active.Inputing .du-select_placeholder {
  opacity: 0;
}
.du-select_input {
  opacity: 0;
  outline: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  color: inherit;
  background: transparent;
  box-sizing: border-box;
}
.du-select.Active .du-select_input {
  opacity: 1;
}
.du-select_box.Single .du-select_input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: inherit;
  padding: 4px 30px 4px 10px;
}
.du-select_arrow {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 10px;
  transition: transform 0.1s ease;
}
.du-select.Active .du-select_arrow {
  transform: rotate(180deg);
}
.du-select_arrow:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 5px 4px 0 4px;
  border-top-color: var(--field-border-color);
}

.du-select_dropdown {
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid var(--field-border-color);
  border-radius: 3px;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.1s ease;
  opacity: 0;
  z-index: 1000;
  overflow: hidden;
}
.du-select.Active .du-select_dropdown {
  opacity: 1;
  transform: scaleY(1);
}
.du-select_dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.du-select_empty {
  padding: 6px 10px;
  opacity: 0.8;
}

.du-select_options {
  position: relative;
  max-height: 320px;
  overflow-y: auto;
  cursor: default;
}

.du-optgroup strong {
  display: block;
  padding: 6px;
}
.du-option {
  display: block;
  padding: 6px 10px;
  line-height: 1.8;
  cursor: pointer;
}
.du-option.Disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: transparent;
}
.du-option.Hover {
  background-color: rgba(0, 0, 0, 0.06);
}
.du-option[aria-selected] {
  color: var(--field-option-active-fg);
  background-color: var(--field-option-active-bg);
}
.du-optgroup .du-option {
  padding-left: 12px;
}
