.content {
  padding: 20px;
}

.clearfix:after {
  display: table;
  content: '';
  clear: both;
}
.du-box code {
  color: #e96900;
}
.doc table {
  border-collapse: collapse;
  width: 100%;
}
.doc th {
  padding: 10px 15px;
  text-align: left;
  background: var(--color-semi-white);
  border-bottom: 1px solid var(--line-light-color);
}
.doc td {
  padding: 10px 15px;
}
.doc tbody tr:nth-child(2n) {
  background: var(--color-semi-white);
}
