body {
  -webkit-font-smoothing: antialiased;
  color: var(--color-plain);
  font-family: var(--font-family);
  font-size: var(--size-sm);
}

h1, h2, h3, h4, h5, strong {
  color: var(--color-bold);
}

a {
  color: var(--color-link);
}
a:hover {
  opacity: 0.78;
}
