.du-breadcrumb>:last-child .du-breadcrumb_sep {
  display: none;
}

.du-breadcrumb_item a {
  text-decoration: none;
  color: var(--color-link);
}
.du-breadcrumb_item a:hover {
  opacity: 0.8;
}

.du-breadcrumb_sep {
  font-size: 90%;
  user-select: none;
  color: var(--color-silver);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
