.du-button {
  position: relative;
}
button.du-button,
a.du-button,
input[type="button"].du-button,
input[type="submit"].du-button {
  display: inline-block;
  background-color: white;
  border: 1px solid var(--field-border-color);
  border-radius: 3px;
  color: var(--text-plain-color);
  padding: var(--field-padding) 14px;
  line-height: var(--field-line-height);
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.du-button:hover {
  opacity: 0.8;
}
.du-button:active {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.06) inset, 0 0 4px rgba(0, 0, 0, 0.1) inset;
}
.du-button.Disabled,
.du-button.Disabled:hover,
.du-button[disabled],
.du-button[disabled]:hover {
  opacity: 0.68;
  cursor: not-allowed;
}
.du-button.Disabled:active,
.du-button[disabled]:active {
  box-shadow: none;
}
.du-button.Blue {
  color: var(--color-white);
  background: var(--color-blue);
  border-color: var(--color-blue);
}
.du-button.Green {
  color: var(--color-white);
  background: var(--color-green);
  border-color: var(--color-green);
}
.du-button.Yellow {
  color: var(--color-white);
  background: var(--color-yellow);
  border-color: var(--color-yellow);
}
.du-button.Red {
  color: var(--color-white);
  background: var(--color-red);
  border-color: var(--color-red);
}
.du-button.Text {
  border-color: transparent;
  background-color: transparent;
}
.du-button.Text.Blue {
  color: var(--color-blue);
}
.du-button.Text.Green {
  color: var(--color-green);
}
.du-button.Text.Yellow {
  color: var(--color-yellow);
}
.du-button.Text.Red {
  color: var(--color-red);
}

.du-button.Line {
  background-color: transparent;
  color: var(--text-plain-color);
  border-color: var(--field-border-color);
}
.du-button.Line.Blue:hover {
  color: var(--color-blue);
  border-color: var(--color-blue);
}
.du-button.Line.Green:hover {
  color: var(--color-green);
  border-color: var(--color-green);
}
.du-button.Line.Yellow:hover {
  color: var(--color-yellow);
  border-color: var(--color-yellow);
}
.du-button.Line.Red:hover {
  color: var(--color-red);
  border-color: var(--color-red);
}
