.du-checkbox {
  vertical-align: middle;
}
label.du-checkbox + label.du-checkbox {
  margin-left: 16px;
}
input.du-checkbox,
.du-checkbox > input {
  position: relative;
  top: -2px;
  outline: 0;
  border: 0;
  background: none;
  line-height: 1;
  margin: 0 8px 0 2px;
  vertical-align: middle;
}
input.du-checkbox,
.du-checkbox > input {
  -webkit-appearance: none;
}
input.du-checkbox:before,
.du-checkbox > input:before,
.du-checkbox_box:before {
  position: relative;
  display: inline-block;
  top: -3px;
  left: 1px;
  content: '';
  width: 6px;
  height: 3px;
  opacity: 0;
  transform: rotate(-60deg);
  box-shadow: none;
  border: 2px solid transparent;
  border-left-color: var(--color-blue);
  border-bottom-color: var(--color-blue);
  border-radius: 2px;
  transition: all 0.15s cubic-bezier(0, -0.4, 0.4, 0.14);
}
input.du-checkbox:after,
.du-checkbox > input:after {
  position: absolute;
  top: -3px;
  left: -2px;
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid var(--field-border-color);
  border-radius: 3px;
  box-sizing: border-box;
  transition: border-color 0.1s;
  margin: 0;
}
input.du-checkbox:hover:after,
.du-checkbox:hover > input:after,
.du-checkbox:hover .du-checkbox_box {
  border-color: var(--field-hover-border-color);
}
input.du-checkbox:checked:before,
.du-checkbox > input:checked:before,
.du-checkbox.Checked .du-checkbox_box:before {
  opacity: 1;
  transform: rotate(-45deg);
}
input.du-checkbox:checked:after,
.du-checkbox > input:checked:after,
.du-checkbox.Checked .du-checkbox_box {
  border-color: var(--color-blue);
}
input.du-checkbox:disabled,
.du-checkbox > input:disabled,
.du-checkbox.Disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
input.du-checkbox:disabled:before,
.du-checkbox > input:disabled:before,
.du-checkbox.Disabled .du-checkbox_box:before {
  border-left-color: var(--field-border-color);
  border-bottom-color: var(--field-border-color);
}
input.du-checkbox:disabled:after,
.du-checkbox > input:disabled:after,
.du-checkbox.Disabled .du-checkbox_box {
  border-color: var(--field-border-color);
  background-color: var(--color-milk);
}

.du-checkbox_box {
  position: relative;
  top: 1px;
  display: inline-block;
  margin: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--field-border-color);
  border-radius: 3px;
  box-sizing: border-box;
  transition: border-color 0.1s;
  border: 1px solid var(--field-border-color);
}
.du-checkbox_box > input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}
.du-checkbox_box:before {
  top: -4px;
  left: 2px;
}
