.du-input {
  position: relative;
  width: var(--field-width);
  box-sizing: border-box;
  line-height: var(--field-line-height);
  border: 1px solid var(--field-border-color);
  padding: var(--field-padding) 10px;
  border-radius: 3px;
  background-color: white;
  transition: border-color 0.15s ease;
}
input.du-input {
  outline: 0;
  font: inherit;
  color: inherit;
  line-height: var(--field-line-height);
}

.du-input:hover {
  border-color: var(--field-hover-border-color);
}

.du-input > input,
.du-input_inner > input {
  width: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  line-height: inherit;
  border: 0;
  background: transparent;
  box-sizing: border-box;
}

.du-input .du-icon {
  position: absolute;
  right: 8px;
  line-height: var(--field-line-height);
  opacity: 0.5;
}

.du-input .du-icon + input {
  padding-right: 20px;
}

.du-input_prepend {
  background-color: var(--color-milk);
  border-right: 1px solid var(--field-border-color);
  border-radius: 3px 0 0 3px;
}
.du-input_append {
  background-color: var(--color-milk);
  border-left: 1px solid var(--field-border-color);
  border-radius: 0 3px 3px 0;
}
.du-input_inner {
  position: relative;
  width: var(--field-width);
}
.du-input.Group {
  display: table;
  padding: 0;
  width: auto;
}
.du-input.Group .du-input_prepend,
.du-input.Group .du-input_inner,
.du-input.Group .du-input_append {
  display: table-cell;
  padding: var(--field-padding) 10px;
}
.du-input.Disabled {
  opacity: 0.6;
}
.du-input.Disabled input {
  cursor: not-allowed;
}
.du-input.Disabled:hover {
  border-color: var(--field-border-color);
  cursor: not-allowed;
}

.du-input_prepend .du-select {
  margin: -4px -10px;
  width: auto;
}
.du-input_prepend .du-select_box {
  border: 0;
  background-color: inherit;
}
