.du-layout-head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  color: var(--layout-head-fg);
  background-color: var(--layout-head-bg);
  z-index: 990;
  box-sizing: border-box;
}

.du-layout-logo {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  width: 230px;
  color: white;
  background-color: rgba(0, 0, 0, 0.04);
  transition: width 0.2s ease;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.du-layout-side {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 50px;
  width: 230px;
  color: var(--layout-side-color);
  background-color: var(--layout-side-bg);
  z-index: 980;
  overflow: hidden;
  transition: width 0.2s ease;
  box-sizing: border-box;
}

.du-layout-main {
  padding: 50px 0 0 230px;
  transition: padding-left 0.2s ease;
}

.Collapse .du-layout-main {
  padding-left: 50px;
}

.Collapse .du-layout-side,
.Collapse .du-layout-logo {
  width: 50px;
}
