.du-layout-head {
  height: 50px;
  box-sizing: border-box;
  background-color: var(--color-white);
  box-shadow: 2px 2px 10px 0 rgba(0,0,0,.05);
}

.du-layout-logo {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.04);
  transition: width 0.2s ease;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}
.du-layout-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 10px 15px;
  box-sizing: border-box;
}

.du-layout-side {
  position: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  top: 0;
  left: 0;
  width: 230px;
  height: 100%;
  z-index: 980;
  transition: width 0.2s ease;
  box-sizing: border-box;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.04);
}
.du-layout-sidenav {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.du-layout-side.Dark {
  color: var(--color-milk);
  background-color: var(--color-dark);
}
.du-layout-main {
  padding: 0 0 0 230px;
  transition: padding-left 0.2s ease;
}

.Collapse .du-layout-main {
  padding-left: 50px;
}
.Collapse .du-layout-side {
  width: 50px;
}

.Collapse .du-layout-side .du-menu_item,
.Collapse .du-layout-side .du-menu_tree {
  position: relative;
}
.Collapse .du-layout-side .du-menu_head {
  display: none;
}
.Collapse .du-layout-side .du-menu_text {
  position: absolute;
  top: 0;
  left: 50px;
}
