.du-message {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 14px;
  min-width: 300px;
  background: white;
  font-size: 16px;
  line-height: 1;
  border-radius: 3px;
  border-left: 4px solid var(--color-gray);
  font-family: var(--font-family);
  color: var(--text-plain-color);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  opacity: 0.98;
  z-index: 1000;
}
.du-message.Info {
  border-color: var(--color-blue);
}
.du-message.Success {
  border-color: var(--color-green);
}
.du-message.Warn {
  border-color: var(--color-yellow);
}
.du-message.Error {
  border-color: var(--color-red);
}

.du-message.message-enter-active {
  transition: all 0.4s ease;
}
.du-message.message-leave-active {
  transition: all 0.2s ease;
}
.du-message.message-enter, 
.du-message.message-leave-active {
  opacity: 0;
  transform: translate(-50%, -60px);
}
