.du-pagination > * + * {
  margin-left: 10px;
}
.du-pagination_pager {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.du-pagination_pager:after {
  display: table;
  content: '';
  clear: both;
}

.du-pagination_pager > li {
  display: inline-block;
  float: left;
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--color-border);
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}

.du-pagination_pager > li + li {
  margin-left: 3px;
}

.du-pagination_pager > li > a {
  display: block;
  color: inherit;
}

.du-pagination_pager > li.Current {
  background-color: var(--color-blue);
  border-color: var(--color-dark-blue);
  color: var(--color-white);
}
.du-pagination_pager > li.Disabled {
  opacity: 0.8;
  background-color: var(--color-disabled);
  cursor: not-allowed;
}

.du-pagination_goto {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
}
.du-pagination_goto > input {
  font: inherit;
  color: inherit;
  width: 4em;
  line-height: 16px;
  box-sizing: border-box;
  border: 1px solid var(--color-border);
  border-radius: 3px;
  padding: 5px 2px 5px 6px;
  outline: 0;
}
