.du-pagination_pager {
  list-style: none;
  margin: 0;
  padding: 0;
}
.du-pagination_pager:after {
  display: table;
  content: '';
  clear: both;
}

.du-pagination_pager > li {
  display: inline-block;
  float: left;
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--color-border);
  border-radius: 3px;
  cursor: pointer;
}

.du-pagination_pager > li + li {
  margin-left: 4px;
}

.du-pagination_pager > li > a {
  display: block;
  color: inherit;
}

.du-pagination_pager > li.Current {
  background-color: var(--color-blue);
  border-color: var(--color-dark-blue);
  color: var(--color-white);
}
.du-pagination_pager > li.Disabled {
  opacity: 0.8;
  background-color: var(--color-disabled);
  cursor: not-allowed;
}
