.du-pagination_pager {
  list-style: none;
  margin: 0;
  padding: 0;
}
.du-pagination_pager:after {
  display: table;
  content: '';
  clear: both;
}

.du-pagination_pager > li {
  display: inline-block;
  float: left;
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--color-border);
  border-radius: 3px;
  cursor: pointer;
}

.du-pagination_pager > li + li {
  margin-left: 4px;
}

.du-pagination_pager .du-arrow {
  position: relative;
  top: -4px;
}

.du-pagination_pager > li.Disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
