.du-radio {
  vertical-align: middle;
}
label.du-radio + label.du-radio {
  margin-left: 16px;
}
input.du-radio,
.du-radio > input {
  position: relative;
  top: -2px;
  appearance: none;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  background: none;
  line-height: 1;
  margin: 0 8px 0 2px;
  vertical-align: middle;
}
input.du-radio:before,
.du-radio > input:before,
.du-radio_box:before {
  position: relative;
  top: 1px;
  left: 1px;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color-blue);
  opacity: 0;
  transform: scale3d(0, 0, 0);
  box-shadow: none;
  border: 0;
  transition: all 0.15s ease;
}
input.du-radio:after,
.du-radio > input:after {
  position: absolute;
  top: -2px;
  left: -2px;
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid var(--field-border-color);
  border-radius: 50%;
  box-sizing: border-box;
  transition: border-color 0.15s ease;
  margin: 0;
}
input.du-radio:hover:after,
.du-radio:hover > input:after,
.du-radio:hover .du-radio_box {
  border-color: var(--field-hover-border-color);
}
input.du-radio:checked:before,
.du-radio > input:checked:before,
.du-radio.Checked .du-radio_box:before {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
input.du-radio:checked:after,
.du-radio > input:checked:after,
.du-radio.Checked .du-radio_box {
  border-color: var(--color-blue);
}
input.du-radio:disabled,
.du-radio > input:disabled,
.du-radio.Disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
input.du-radio:disabled:after,
.du-radio > input:disabled:after,
.du-radio.Disabled .du-radio_box {
  border-color: var(--field-border-color);
  background-color: var(--color-milk);
}

.du-radio_box {
  position: relative;
  top: 3px;
  display: inline-block;
  margin: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--field-border-color);
  border-radius: 50%;
  box-sizing: border-box;
  transition: border-color 0.1s;
  border: 1px solid var(--field-border-color);
}
.du-radio_box > input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}
.du-radio_box:before {
  top: 2px;
  left: 2px;
}
