:root {
  /* https://en.wikipedia.org/wiki/Shades_of_gray */
  --color-dark: #36495D;
  --color-dimgray: #5E6D80;
  --color-gray: #8492A6;
  --color-silver: #C0CCDA;
  --color-lightgray: #E5E9F2;
  --color-lightwhite: #F9FAFC;
  --color-white: #FFFFFF;

  --color-light-black: #475669;

  /* main colors */
  --color-blue: #03A9F4;
  --color-green: #49C784;
  --color-yellow: #F7BA2A;
  --color-red: #FF612F;
  --color-dark-blue: #0EA0E2;
  --color-dark-green: #42B983;
  --color-dark-yellow: #F1B52A;
  --color-dark-red: #F55826;

  --layout-base-bg: #eff4fb;

  /* functional colors */
  --color-bold: var(--color-dark);
  --color-plain: var(--color-dimgray);
  --color-border: var(--color-lightgray);
  --color-active-border: var(--color-silver);

  --color-link: var(--color-blue);
  --color-hover-link: var(--color-dark-blue);

  /* text colors */
  --text-plain-color: #5e6d80;
  --text-bold-color: #323a44;
  --text-link-color: var(--color-light-black);

  /* utilities */
  --box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  --focus-bg-color: var(--color-blue);
  --focus-fg-color: white;

  /* form control */
  --field-width: 160px;
  --field-height: 24px;
  --field-padding: 4px;
  --field-line-height: 24px;
  --field-option-active-fg: var(--color-white);
  --field-option-active-bg: var(--color-blue);

  /* ease functions from ant design */
  --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
  --ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
  --ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
  --ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  --ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

  --size-xl: 32px;
  --size-lg: 24px;
  --size-md: 18px;
  --size-sm: 14px;
  --size-xs: 12px;
  --font-family: 'Source Sans Pro','Helvetica Neue', Helvetica, Arial, sans-serif;
}
