.du-menu,
.du-menu_group {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
.du-menu_head {
  padding: 10px 25px 10px 18px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 400;
  background-color: var(--menu-head-bg);
  color: var(--menu-head-color);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.du-menu li > a,
.du-menu li > span {
  display: block;
  color: var(--menu-text-color);
  text-decoration: none;
}
.du-menu > li > a,
.du-menu > li > span {
  font-size: 14px;
  padding: 12px 5px 12px 15px;
  border-left: 3px solid transparent;
  cursor: pointer;
}
.du-menu .du-icon {
  margin-right: 4px;
  font-size: inherit;
}
.du-menu_group {
  transform-origin: top;
  transform: scaleY(1);
  transition: transform 0.2s ease;
}
.du-menu_group li {
  padding-left: 15px;
  background-color: var(--menu-group-bg);
}
.du-menu_group > li > a {
  font-size: 14px;
  padding: 6px;
  color: var(--menu-group-color);
}
.du-menu > li > a:hover,
.du-menu > li > span:hover {
  background-color: var(--menu-hover-bg);
  border-color: var(--menu-border-color);
}
.du-menu > li.Active > a,
.du-menu > li.Active > span {
  color: var(--menu-active-color);
  background-color: var(--menu-active-bg);
  border-color: var(--menu-border-color);
}
.du-menu li a:hover,
.du-menu li span:hover,
.du-menu_group li.Active a {
  color: var(--menu-active-color);
}
.du-menu_title:after {
  display: table;
  content: '';
  clear: both;
}
.du-menu_angle {
  float: right;
  display: inline-block;
  margin-right: 15px;
  margin-top: 6px;
  display: inline-block;
  font-size: 0;
  transform: rotate(-45deg);
  transition: transform 0.2s ease;
}
.du-menu_angle:after {
  display: block;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 1px;
  border: 1px solid transparent;
  border-left-color: var(--menu-text-color);
  border-top-color: var(--menu-text-color);
}
.Open .du-menu_angle {
  transform: rotate(45deg);
}
.Open .du-menu_group {
  transform: scaleY(0);
}
.Collapse .du-menu_head,
.Collapse .du-menu_text {
  display: none;
}
