.du-menu,
.du-menu_group {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
}
.du-menu_head {
  padding: 10px 25px 10px 18px;
  box-sizing: border-box;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.du-menu li > a,
.du-menu li > span {
  display: block;
  color: inherit;
  text-decoration: none;
}
.du-menu > li > a,
.du-menu > li > span {
  font-size: 14px;
  padding: 12px 5px 12px 15px;
  border-left: 3px solid transparent;
  cursor: pointer;
}
.du-menu .du-icon {
  margin-right: 4px;
  font-size: inherit;
}
.du-menu_group li {
  padding-left: 15px;
}
.du-menu_group > li > a {
  line-height: 1.42;
  padding: 6px 4px;
  color: inherit;
}
.du-menu_title:after {
  display: table;
  content: '';
  clear: both;
}
.du-menu_tree .du-arrow {
  float: right;
  margin-right: 15px;
  margin-top: 6px;
  transform: rotate(-45deg);
}
.du-menu_tree.Open .du-arrow {
  transform: rotate(45deg);
}

.du-menu.Light {
  color: var(--color-light-black);
  background-color: var(--color-milk);
}
.du-menu.Light .du-menu_head {
  color: var(--color-gray);
}
.du-menu.Light .du-menu_group li {
  background-color: rgba(20, 20, 20, 0.02);
}
.du-menu.Light .du-arrow:after {
  border-top-color: var(--color-light-black);
  border-left-color: var(--color-light-black);
}
.du-menu.Light > li.Active > a,
.du-menu.Light > li.Active > span {
  background-color: rgba(0, 0, 0, 0.04);
  border-color: var(--color-blue);
}
.du-menu.Light li a:hover,
.du-menu.Light li span:hover,
.du-menu.Light .du-menu_group li.Active a {
  color: var(--color-dark);
}
.du-menu.Light > li > a:hover,
.du-menu.Light > li > span:hover {
  background-color: rgba(0, 0, 0, 0.06);
  border-color: var(--color-dark-blue);
}

.du-menu.Dark {
  color: var(--color-milk);
  background-color: var(--color-dark);
}
.du-menu.Dark .du-menu_head {
  background-color: rgba(0, 0, 0, 0.16);
  color: rgba(255, 255, 255, 0.25);
}
.du-menu.Dark .du-menu_group li {
  color: var(--color-gray);
  background-color: rgba(222, 222, 222, 0.04);
}
.du-menu.Dark .du-arrow:after {
  border-top-color: var(--color-milk);
  border-left-color: var(--color-milk);
}
.du-menu.Dark > li.Active > a,
.du-menu.Dark > li.Active > span {
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.04);
  border-color: var(--color-blue);
}
.du-menu.Dark li a:hover,
.du-menu.Dark li span:hover,
.du-menu.Dark .du-menu_group li.Active a {
  color: var(--color-white);
}
.du-menu.Dark > li > a:hover,
.du-menu.Dark > li > span:hover {
  background-color: rgba(0, 0, 0, 0.08);
  border-color: var(--color-dark-blue);
}
